.list-box {
	height: 100%;
	.content {
		@include flex();
		align-items: flex-start;
		position: relative;
		min-height: calc(100vh - #{$header-height * 1px});
		.content-list {
		}
		@media only screen and (max-width: 500px) {
			.side-bar {
				height: 100%;
				margin-right: auto;
				z-index: 99;
			}
			.side-bar {
				position: absolute;
				left: 0;
			}
			.content-list {
				padding-left: 64px;
				left: 64px;
			}
		}
	}
}
