$blue: #4663f3;
$blue-hover: #2e4ff1;
$header-height: 48;

@mixin full {
	width: 100%;
	height: 100%;
}

@mixin full-abs {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin flex-center() {
	align-items: center;
	justify-content: center;
}

@mixin flex() {
	display: flex;
	@include flex-center();
}

@mixin inline-flex {
	display: inline-flex;
	@include flex-center();
}
