.list-content {
  width: 100%;
  display: flex;
  .title-box {
    display: flex;
    align-items: center;
    padding: 12px 16px 0 16px;
    font-family: 'Microsoft Yahei', 微软雅黑, STXihei, 'Meiryo UI', Meiryo,
      メイリオ, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Hiragino Kaku Gothic Pro',
      'Arial Unicode MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      white-space: nowrap;
      color: #3e69e4;
      padding: 6px 8px;
    }
    .p-siff {
      $width: 30px;
      @include inline-flex();
      width: $width;
      height: $width;
      cursor: pointer;
      line-height: $width;
      p {
        @include inline-flex();
      }
      &:hover {
        text-decoration: none !important;
        background: #ededed;
      }
    }
  }
}
