.side-bar-menu {
	width: 64px;
	overflow: hidden;
	position: relative;
	margin-right: auto;
	background: #f4f4f4;
	height: auto !important;
	border-right: 1px solid #eaeaea;
	min-height: calc(100vh - #{$header-height * 1px});
	&[open='open'] {
		width: 200px;
	}
	.side-action-box {
		width: 64px;
		margin-left: 20px;
		@include inline-flex();
		padding: 10px 0 10px 0px;
		.icon-background-box {
			height: 37px;
			padding: 10px;
			cursor: pointer;
			display: inline-flex;
			&:hover {
				background-color: #fafafa;
				box-shadow: 0 0 0 1px #ededed;
				-webkit-box-shadow: 0 0 0 1px #ededed;
			}
		}
	}
	.icon-side,
	.icon-plus {
		color: #465efc;
	}
	.menu-item {
		.icon-item {
			margin-right: 0.5em;
		}
		span {
			color: #767678;
		}
		::v-deep {
			.icon {
				i {
					width: 24px;
					height: 18px;
					font-size: 18px;
					color: #767678;
					@include inline-flex();
				}

				.icon-icon- {
					font-size: 30px;
				}
				.icon-wujiaoxing {
					font-size: 20px;
				}
			}
		}
		.delete-menu-box {
			opacity: 0;
			width: 0px;
			float: right;
			height: 100%;
			cursor: pointer;
			overflow: hidden;
			@include inline-flex();
			justify-content: flex-end;
			.delete-menu {
				color: #f78989;
				cursor: pointer;
				font-size: 1.5em;
				border-color: #f78989;
				@include inline-flex();
				background: transparent;
			}
		}
		&:hover {
			background: #fafafa;
			background-color: #f5f5f5;
			.delete-menu-box {
				opacity: 1;
				width: 40px;
			}
		}
	}
	.is-active {
		background: #ededed !important;
		::v-deep {
			i {
				color: #2e5cdb !important;
			}
		}
		span {
			color: #2e5cdb;
		}
	}
}
