.user-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 400;
  color: #262626;
  img {
    width: 100%;
  }
  .content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      max-width: 440px;
      width: calc(100% - 40px);
      padding: 44px;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      min-width: 320px;
      min-height: 238px;
      overflow: hidden;
      .logo {
        display: flex;
        max-width: 108px;
        height: 24px;
      }
      .login-title {
        display: flex;
        color: #404040;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 16px 0 12px 0;
      }
      .user-box {
        display: flex;
        width: 100%;
        position: relative;
        min-height: 1px;
        padding: 0 2px 0 2px;
        .input {
          padding-left: 10px !important;
          width: 100%;
          font-size: 16px;
          border-style: solid;
          border-width: 1px;
          border-color: #666;
          border-color: rgba(0, 0, 0, 0.6);
          height: 36px;
          outline: none;
          border-radius: 0;
          -webkit-border-radius: 0;
          border-top-width: 0;
          border-left-width: 0;
          border-right-width: 0;
          padding-left: 0;
          background-color: rgb(232, 240, 254) !important;
          background-image: none !important;
          color: rgb(0, 0, 0) !important;
          letter-spacing: normal;
          word-spacing: normal;
          text-transform: none;
          text-indent: 0px;
          text-shadow: none;
          &::placeholder {
            padding-left: 10px;
          }
        }
      }
      .pwd-box {
        @extend .user-box;
        margin-top: 20px;
      }
      .confirm-pwd-box {
        @extend .user-box;
        margin-top: 20px;
      }
      .login-btn {
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: 32px;
        border: none;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        touch-action: manipulation;
        cursor: pointer;
        border-color: #0067b8;
        background-color: #0067b8;
        color: #fff;
        &:hover {
          background-color: #005da6;
        }
      }
    }
  }
}
